WcfClient/Connected Services/ComplexCalculatorReference/ComplexCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ComplexCalculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9005/ComplexCalculator?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9005/ComplexCalculator?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9005/ComplexCalculator?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComplexCalculator_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_sub_InputMessage">
    <wsdl:part name="parameters" element="tns:sub" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_sub_OutputMessage">
    <wsdl:part name="parameters" element="tns:subResponse" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_mult_InputMessage">
    <wsdl:part name="parameters" element="tns:mult" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_mult_OutputMessage">
    <wsdl:part name="parameters" element="tns:multResponse" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_div_InputMessage">
    <wsdl:part name="parameters" element="tns:div" />
  </wsdl:message>
  <wsdl:message name="IComplexCalculator_div_OutputMessage">
    <wsdl:part name="parameters" element="tns:divResponse" />
  </wsdl:message>
  <wsdl:portType name="IComplexCalculator">
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IComplexCalculator/add" message="tns:IComplexCalculator_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComplexCalculator/addResponse" message="tns:IComplexCalculator_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sub">
      <wsdl:input wsaw:Action="http://tempuri.org/IComplexCalculator/sub" message="tns:IComplexCalculator_sub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComplexCalculator/subResponse" message="tns:IComplexCalculator_sub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mult">
      <wsdl:input wsaw:Action="http://tempuri.org/IComplexCalculator/mult" message="tns:IComplexCalculator_mult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComplexCalculator/multResponse" message="tns:IComplexCalculator_mult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="div">
      <wsdl:input wsaw:Action="http://tempuri.org/IComplexCalculator/div" message="tns:IComplexCalculator_div_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComplexCalculator/divResponse" message="tns:IComplexCalculator_div_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IComplexCalculator" type="tns:IComplexCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/IComplexCalculator/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap:operation soapAction="http://tempuri.org/IComplexCalculator/sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mult">
      <soap:operation soapAction="http://tempuri.org/IComplexCalculator/mult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="div">
      <soap:operation soapAction="http://tempuri.org/IComplexCalculator/div" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComplexCalculator">
    <wsdl:port name="BasicHttpBinding_IComplexCalculator" binding="tns:BasicHttpBinding_IComplexCalculator">
      <soap:address location="http://localhost:9005/ComplexCalculator/ENDPOINT_1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>